/*
@import url(//fonts.googleapis.com/css?family=Open+Sans);
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
:root {
    --primary-color: #235bcc;
    --secondary-color: #B8860B;
    --tertiary-color: #cc3f23;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
}
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 5rem 5rem 1rem
}
/*
div.main-content{
    padding: 0, 4rem, 4rem, 0;
}
*/
h1 {
    color:  var(--secondary-color); 
    font-size: 3rem;
}
h2 {
    color: #4368b3;
}
li {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}
a{
    color: var(--tertiary-color);
}

@media (max-width: 610px){
  h1 {
    font-size: 2.5rem;
  }
  main {
      padding: 1rem 1rem 1rem 1rem
  }
  a.long-url{
      display: none;
  }
}
/* nav bar */
.nav-bar{
    display: flex;
    background-color: var(--primary-color);
    height: 60px;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left:10px;
    padding-right:10px;
}
#profiles, #links{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#profiles div, #links div{
    padding-left:10px;
    padding-right:10px;
}
#profiles div a, .drop-down div a, #links div a{
    color: inherit;
    text-decoration: none;
}
#profiles div a:hover, .drop-down div a:hover, #links div a:hover, button#mobile-menu i:hover{
    text-decoration: none;
    color: #dddddd; 
    cursor:pointer;  
}
a#translated_site{
    font-size: 1.2rem;
    color:#f6cc25;
}
/* mobile menu */
#mobile-menu{
    display: none;
    background-color: var(--primary-color);
    border: none;
}
i {
    background-color: var(--primary-color);
    color: white;
    font-size: 10rem;
}
div.drop-down{
    font-size: 1.5rem;
    width: 100%;
    position: absolute;
    background-color: var(--primary-color);
    color:white;
}
div.drop-down{
    display: none;
}
div.drop-down div{
    margin-bottom: 6px;
    padding-left: 10px;
}
@media (max-width: 610px){
    #links{
        display: none;
    }
    #mobile-menu{
        display: block;
    }
    div.dropdown{
        display: none;
    }
}
/* home */
div#unity_circle {
    width: 80%;
}
img#unity_circle {
  display: block;
  margin: 0 auto;
  width: 68%;
}
main#home hr {
border: 0;
clear:both;
display:block;
width: 96%;               
background-color:#cccccc;
height: 1px;
width: 70%
}
.main-content {
  width: 68%;
}
@media (max-width: 610px){
  main#home hr {
    width: 98%
  }
  .main-content {
    width: 95%;
  }
  img#unity_circle {
    width: 95%;
  }
}
button#konstella-survey {
    background-color: var(--primary-color);
    padding: .5em;
}
button#konstella-survey a {
    font-size: 1.12rem;
    color: #f6cc25;
    text-decoration: none;
}
button#konstella-survey a:visited {
    color: #f6cc25;
}
/*events */
div#events a {
    width: 95%;
}