<nav>
  <div class="nav-bar">
    <div id="mobile-menu">
      <i class="fa fa-bars"></i>
    </div>
    <div id="links">
      {{#navLinks}}
      <div><a href="{{path}}">{{name}}</a></div>
      {{/navLinks}}
    </div>
    <div id="translations"></div>
  </div>
  <div class="hidden drop-down">
    {{#navLinks}}
    <div><a href="{{path}}">{{name}}</a></div>
    {{/navLinks}}
  </div> 
</nav>