<nav>
  <div class="nav-bar">
    <div id="mobile-menu">
      <i class="fa fa-bars"></i>
    </div>
    <div id="links">
      {{#navBar.links}}
      <div><a href="{{{path}}}">{{name}}</a></div>
      {{/navBar.links}}
    </div>
    <div id="translations"><a href="{{{navBar.translatedSitePath}}}">{{navBar.translatedSite}}</a></div>
  </div>
  <div class="hidden drop-down">
    {{#navBar.links}}
    <div><a href="{{{path}}}">{{name}}</a></div>
    {{/navBar.links}}
  </div> 
</nav>